config LGE_SENSOR_SLOPE_DETECTOR
  bool CONFIG_LGE_SENSOR_SLOPE_DETECTOR
  default n
  help
    CONFIG_LGE_SENSOR_SLOPE_DETECTOR

config LGE_SENSOR_UNIFIED_NODE
  bool CONFIG_LGE_SENSOR_UNIFIED_NODE
  default n
  help
    CONFIG_LGE_SENSOR_UNIFIED_NODE

config MTK_HWMON
  bool CONFIG_MTK_HWMON
  default n
  help
    CONFIG_MTK_HWMON
