config MTK_LCM
	bool CONFIG_MTK_LCM
	default n
	help
	  LCM driver

config CUSTOM_KERNEL_LCM
	string "CUSTOM_KERNEL_LCM"
	help
	  To choose kernel LCM driver name

config MTK_LCM_DEVICE_TREE_SUPPORT
	bool "MTK_LCM_DEVICE_TREE_SUPPORT"
	help
	  Decide whether to support LCM device tree based configuration.
	  This feature requires the connection between display driver and LCM devices.
	  Please also turn on MTK_LCM_DEVICE_TREE_SUPPORT in ProjectConfig.mk.

config LGE_LCM_KD_HX8394A_TH8
        bool "Enable King Display HX8394-A WXGA panel for TH8"
        default n

config LGE_USE_PANEL_DUALIZATION
        bool "Use lge panel id to distinguish panel"
        default n

source "drivers/misc/mediatek/lcm/td4100_hd720_dsi_vdo_tovis_lv7/Kconfig"
source "drivers/misc/mediatek/lcm/ft8006m_hd720_dsi_vdo_tcl_cv1/Kconfig"
source "drivers/misc/mediatek/lcm/lg4894_hd720_dsi_vdo_tovis_cv3/Kconfig"
